---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Agosto 2021 - Actualmente",
        title: "Ingeniería Informática",
        company:
            "Tecnológico Nacional De Mexico – Instituto Tecnológico De Tijuana",
        description:
            "Desarrollo de aplicaciones web y móviles, con tecnologías como React, Next.js, MAUI, entre otras.",
        // link: "https://github.com/Gordillo4045",
    },
    {
        date: "Agosto 2019 - Agosto 2021",
        title: "Especialidad en Programación",
        company:
            "Centro de Bachillerato Tecnológico Industrial y de Servicio No. 116",
        description:
            "Desarrollo de aplicaciones, con tecnologías como .NET, entre otras.",
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li class="">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
